$white: #fff;
$black: #000;

$gray-darkest: #1a1a1a;
$gray-darker: #333;
$gray-dark: #666;
$gray-medium: #999;
$gray-light: #bbb;
$gray-lighter: #ddd;
$gray-lightest: #f2f2f2;

$primary: #528fcc;
$secondary: #ff8a59;
$ternary: #ede9e4;
$text: #4d4841;
$underline: #e5e3dc;
