$white: #fff;
$black: #000;

$gray-darkest: #1a1a1a;
$gray-darker: #333;
$gray-dark: #666;
$gray-medium: #999;
$gray-light: #bbb;
$gray-lighter: #ddd;
$gray-lightest: #f2f2f2;

$primary: #214050;
$secondary: #9e0927;
$ternary: #CD9F53;
