@import 'styles/colors';
@import 'styles/margin-padding';
@import 'styles/flexbox';
@import 'styles/ratio';
@import 'styles/transitions';

@font-face {
  font-family: 'clear_sans_lightregular';
  src: url('fonts/ClearSans-Light-webfont.woff2') format('woff2'),
       url('fonts/ClearSans-Light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'clear_sans_mediumregular';
  src: url('fonts/ClearSans-Medium-webfont.woff2') format('woff2'),
       url('fonts/ClearSans-Medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'clear_sansbold';
  src: url('fonts/ClearSans-Bold-webfont.woff2') format('woff2'),
       url('fonts/ClearSans-Bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'clear_sans_lightregular', sans-serif;
  line-height: 1;
}

body {
  background: $white;
  color: $text;
  font-size: 16px;
  font-fammily: sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'clear_sansbold', sans-serif;
}

h1, h2, h3 {
  color: $gray-darker;
  margin: 4rem 0 0.5rem 0;
}

h1, h2, h3, h4, h5, h6, p, li {
  line-height: 1.5;
  transition: font-size $normal $ease;
}

h1 {
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
  color: $primary;
  line-height: 1;
  background: -webkit-linear-gradient(#1a1816 0, #807b73 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  .logo {
    float: left;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    padding: 0.25rem 0.25rem 0.25rem 0.33rem;
    color: $white;
    text-align: center;
    border-radius: 0.5rem;
    background: #366cd9;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1386bf),to(#115da9));
    background-image: -webkit-linear-gradient(#1386bf,#115da9);
    background-image: -moz-linear-gradient(#1386bf,#115da9);
    background-image: linear-gradient(#1386bf,#115da9);
  }
}

h2 {
  font-size: 1.33rem;
}

h1 + h2 {
  color: lighten($text, 10%);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h3 {
  font-size: 2rem;
  color: $primary;
}

.content h3:first-child {
  margin-top: 0;
}

h4 {
  margin: 1.5rem 0 0.5rem 0;
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
  display: inline;
}

p {
  margin: 0.5rem 0;
  padding: 0;
  text-align: justify;
}

a {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 0 $underline;
  transition: all $fast $ease;
}

a:hover {
  color: $black;
  box-shadow: inset 0 -2px 0 0 $secondary;
}

a:focus {
  color: $secondary;
  background: transparentize($secondary, 0.9);
  box-shadow: inset 0 0 0 1px transparentize($secondary, 0.95);
  outline: none;
  border-radius: 2px;
}

abbr,
abbr[title] {
  border-bottom: 0;
  text-decoration: none !important;
}

input {
  font-size: inherit;
}

button:active {
  outline: none;
}

b, strong {
  font-family: 'clear_sans_mediumregular';
  font-weight: normal;
}

::-webkit-selection {
  color: $black;
  background: $secondary;
}

::-moz-selection {
  color: $black;
  background: $secondary;
}

::selection {
  color: $black;
  background: $secondary;
}

figure > img {
  max-width: 100%;
}

figcaption {
  font-size: 0.9em;
  line-height: 1.33em;
  text-align: justify;
}

section.text {
  position: relative;
  overflow: auto;

  p {
    margin-top: 1em;
    margin-bottom: 1em;
    text-indent: 2em;

    &.first {
      margin-top: 0;
    }

    &.last {
      margin-bottom: 0;
    }
  }

  figure {
    margin: 1em 2em;
    padding: 0;

    figcaption {
      margin-top: 1em;
    }
  }
}

/*
 * -----------------------------------------------------------------------------
 * General styles, i.e. classes
 * -----------------------------------------------------------------------------
 */

.larger {
  font-size: 1.125em;
}

.darker {
  color: $gray-darker;
}

.content-wrapper {
  position: relative;
  background: $white;
}

.content-wrapper.teaser {
  z-index: 2;
  padding: 2em 0 0 0;
  background: #115da9;
  background: -webkit-gradient(linear,left top,left bottom,from(#faf7f3),to(#ede9e4));
  background: -webkit-linear-gradient(#faf7f3,#ede9e4);
  background: -moz-linear-gradient(#faf7f3,#ede9e4);
  background: linear-gradient(#faf7f3,#ede9e4);
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.05);
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.05);

  figure {
    margin-bottom: 0;
  }
}

.centered {
  text-align: center;
}

svg.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin: 0 1rem;
}

.abstract {
  font-family: 'clear_sans_mediumregular';
  font-size: 1.25em;
  margin-bottom: 2em;
}

.hidden-anchor {
  position: absolute;
  display: block;
  box-sizing: content-box;
  top: 0;
  left: -2rem;
  bottom: 0;
  width: 0.5em;
  padding: 0 1.5rem 0 0.25rem;
  opacity: 0.33;
  transform: scale(0);
  transition: all $fast $ease;
  box-shadow: none !important;
  cursor: pointer;

  > .icon {
    height: 100%;
    width: 100%;
  }
}

h3:hover .hidden-anchor,
h3:target .hidden-anchor {
  transform: scale(1);
}

.hidden-anchor:hover,
h3:target .hidden-anchor {
  opacity: 1;
}

h3:target  {
  color: darken($primary, 25%);
  background: transparentize($primary, 0.9);

  &:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: -2rem;
    width: 2rem;
    background: transparentize($primary, 0.9);
  }

  &.underlined:after {
    left: -2rem;
    background: $primary;
  }

  .hidden-anchor {
    padding-right: 0.25rem;
    color: $white;
    background: $primary;
  }
}

h3.anchored {
  transition: all $fast $ease;
}

.note {
  color: $gray-medium;
  font-style: italic;
}

.no-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.medium-spacing li,
ol.medium-spacing li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

ul.large-spacing li,
ol.large-spacing li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul.medium-spacing li,
ul.large-spacing li,
ol.medium-spacing li,
ol.large-spacing li {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.smaller {
  font-size: 0.9em;
}

.underlined {
  position: relative;

  &:after {
    position: absolute;
    display: block;
    content: '';
    bottom: -1px;
    left: -1rem;
    right: -1rem;
    height: 2px;
    background: $underline;
    transition: left $fast $ease;
  }
}

h1.underlined:hover,
h2.underlined:hover,
h3.underlined:hover,
h4.underlined:hover,
h5.underlined:hover {
  &:after {
    left: -2rem;
  }
}

h3.iconized,
h4.iconized,
h5.iconized {
  position: relative;
  display: block;

  > * {
    display: block;
    float: left
  }

  > .icon {
    height: 100%;
    width: 1em;
    margin-right: 0.25em;

    &.icon-small {
      width: 0.75em;
    }
  }
}

h3.iconized {
  height: 3rem;
}

h4.iconized {
  height: 1.5rem;
}

h5.iconized {
  height: 1.25rem;
}

ol.iconized,
ul.iconized {
  position: relative;
  overflow: auto;

  li {
    position: relative;
    overflow: auto;

    > * {
        display: block;
        float: left
    }

    > *:last-child {
        margin-right: 0.5em;
    }

    .icon {
      height: 1.5em;
      width: 1em;
      margin-right: 0.25em;
    }
  }
}

.icon-inline {
  display: inline;
  width: 0.8em;
  height: 0.8em;
  line-height: 1.5em;
  vertical-align: center;
}

.icon-new {
  color: $ternary;
}

.inline-list li {
  display: inline;
}

// Also known as `social-links`. But anything containing `social` will be
// removed by adblockers.
.remix-links {
  font-size: 0.9em;
}

.date {
  display: block;
  font-size: 0.85em;
  color: $gray-medium;
}

.reference {
  .title {
    font-family: 'clear_sans_mediumregular';
    margin-bottom: 0.25rem;
  }

  .authors {
    margin-bottom: 0.125rem;
  }

  .authors li:after {
    content: ', ';
  }

  .authors li:nth-last-child(2):after {
    content: ', and ';
  }

  .authors li:last-child:after {
    content: '';
  }

  .badges {
    margin-top: 0.125rem;

    li {
      padding: 0 0.25em;
      font-size: 0.85em;
      text-transform: uppercase;
      border-radius: 0.125rem;
    }
  }

  .preprint {
    color: $gray-dark;
    background: $gray-lighter;
  }

  .secondary-information {
    font-size: 0.9em;
  }

  .number {
    margin-right: 0.5em;
  }
}

.btn {
  display: block;
  padding: 0.25em 0.75em;
  border: 0;
  border-radius: 0.25em;
  color: $white;
  background: $primary;
  box-shadow: none;

  &:hover {
    color: $white;
    background: saturate($primary, 30%);
    box-shadow: none;
  }

  &:active,
  &:focus {
    color: $white;
    border-radius: 0.25em;
    background: darken($primary, 10%);
    box-shadow: none;
  }
}

.btn-primary {
  background: $secondary;

  &:hover {
    background: saturate($secondary, 30%);
  }

  &:active,
  &:focus {
    color: $white;
    border-radius: 0.25em;
    background: darken($secondary, 10%);
  }
}

.btn-big {
  font-size: 1.25em;
  font-weight: bold;
}

.journal {
  font-style: italic;
}

.columns {
  position: relative;
  overflow: auto;

  > * {
    margin-top: 0;
  }
}

.column-1-2 {
  float: left;
  width: 100%;
}

/*
 * -----------------------------------------------------------------------------
 * Specific styles, i.e. IDs
 * -----------------------------------------------------------------------------
 */

#fig-teaser {
  @include ratio(1600, 1011);

  margin: 0 2em;
  background: url(images/teaser.png) no-repeat center center;
  background-size: contain;
  transform-origin: center bottom;
  transition: transform $slow $ease;

  &.active {
    transform: scale(1.25);
  }
}

#link-to-demo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1em;

  .btn {
    height: 2em;
    padding: 0 1em;
    font-family: 'clear_sans_mediumregular';
    font-size: 1.125em;
    line-height: 2em;
    transition: color $fast $ease, background $fast $ease, transform $fast $ease;

    &:hover {
      color: $black;
      background: $secondary;
      // transform: scale(1.1);
    }
  }
}

#fig-overview {
  float: right;
  width: 12em;
  margin-top: 0;
  margin-right: 0;
}

#authors-list {
  h4 {
    font-family: 'clear_sans_mediumregular';
    font-size: 1em;
    font-weight: normal;
  }

  li:first-child h4 {
    margin-top: 0;
  }

  h4 + p {
    margin-top: -0.25rem;
  }
}

#footer {
  margin-top: 1rem;
  padding: 2rem 0 0 0;
  font-size: 0.85em;
  color: lighten($text, 33%);
  background: $ternary;

  a {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.125);
  }

  a:hover {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.5);
  }

  .logo-bcrt {
    width: 11.7em;
    height: 4.5em;
    margin-right: 1em;
    background: url(images/bcrt.jpg) no-repeat center center;
    background-size: contain;
  }

  .logo-charite {
    width: 13.5em;
    height: 4.5em;
  }

  .copyright {
    font-size: 0.9em;
  }

  #more-at-lekschas-de {
    margin-top: 1rem;
    padding: 0.75rem 0;
    background: $primary;

    a {
      font-family: 'clear_sans_mediumregular';
      color: $white;
      box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.25);

      &:hover {
        box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 1);
      }
    }
  }
}

/*
 * -----------------------------------------------------------------------------
 * Media Queries
 * -----------------------------------------------------------------------------
 */

/* 640px */
@media screen and (min-width: 40em) {
  .content {
    margin-left: 8.3334%;  /* 1/12 */
    margin-right: 8.3334%;
  }
}

/* 960px */
@media screen and (min-width: 60em) {
  h1 {
    font-size: 3rem;

    .logo {
      width: 3rem;
      height: 3rem;
      margin-left: -4rem;
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
  }

  h1 + h2 {
    font-size: 1.75rem;
  }

  .content {
    margin-left: 11.1112%;  /* 1/9 */
    margin-right: 11.1112%;
  }

  #fig-overview {
    width: 24em;
  }
}

/* 1280px */
@media screen and (min-width: 80em) {
  body {
    font-size: 18px;
  }
  h1 .logo {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: -0.75rem;
    margin-left: -7rem;
    padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  }

  .content {
    margin-left: 16.6667%;  /* 1/6 */
    margin-right: 16.6667%;
  }

  #fig-teaser {
    margin: 0 6em;
  }
}

/* 1600px */
@media screen and (min-width: 100em) {
  .content {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
  }
}
